@model IEnumerable<Item>
@{ ViewData["Title"] = "From Json"; }


<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Description</th>
		<th>Category</th>
		<th>Manufacturer</th>
		<th>Supplier</th>
		<th>Price</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var o in Model)
	{
		<tr>
			<td>@o.Id</td>
			<td>@o.Name</td>
			<td>@o.Description</td>
			<td>@o.Category</td>
			<td>@o.Manufacturer</td>
			<td>@o.Supplier</td>
			<td>@o.Price</td>
		</tr>
	}
	</tbody>
</table>
